<div class="chat-wrapper">
    @for (chat of chats(); track chat.id) {
    <div>
        <strong>{{ chat.name }}</strong>

        <p>{{ chat.message }}</p>

        <small>
            {{ chat.created_at | date:'dd.MM.yyyy HH:mm' }}
        </small>
    </div>
    }
</div>
<div class="form-wrapper">
    <form [formGroup]="sendChatForm" (ngSubmit)="onSubmit()">
        <div class="form-cell-label">
            <label for="name">Name:</label>
        </div>
        <div>
            <input id="name" type="text" name="name" formControlName="name" placeholder="Your name goes here" />
        </div>
        <div class="form-error-placeholder">
            @if (name.touched && name.invalid) {

            @if (name.errors?.['required']) {

            <p class="form-error">
                Name required!
            </p>
            }
            @if (name.errors?.['maxnlength']) {
            <p class="form-error">
                Max 30. characters
            </p>
            }
            }
        </div>
        <div class="form-cell">
            <div class="form-cell-label">
                <label for="message">Message:</label>
            </div>
            <div>
                <input id="message" name="message" type="text" formControlName="message"
                    placeholder="Your message goes here" />
            </div>
            <div class="form-error-placeholder">
                @if (message.touched && message.invalid) {
                <p class="form-error">
                    Message required!
                </p>
                }
            </div>
        </div>
        <div class="form-submit">
            <button class="button__default" type="submit" [disabled]="sendChatForm.invalid">Senden
            </button>
        </div>
    </form>
</div>